/* Input */

input {
  color: inherit;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
input:hover {
  border-color: #fff;
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
body.light input {
  background-color: #f9f9f9;
}
body.light input:hover {
  border-color: #1a1a1a;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}
