/* Navbar */
.navbar {
  transition: background-color 0.2s ease-in-out;
  background-color: rgb(30, 30, 30);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar .nav-list li {
  margin: 0;
  padding: 0;
}

.navbar .nav-list li a {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar .nav-list li a:hover {
  color: #9c9c9c;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  margin-right: auto;
  text-decoration: none;
}

/* Light mode */
body.light .navbar {
  background-color: #f9f9f9;
}
body.light .navbar .nav-list li a {
  color: #1a1a1a;
}
body.light .navbar .nav-list li a:hover {
  color: #9c9c9c;
}
body.light .navbar .navbar-brand {
  color: #1a1a1a;
}
